<%- include('partials/head') %>
<%- include('partials/header') %>

<div class="container mt-4 w-25">
    <div class="card border-secundary">
        <div class="card-header"> Nuevo registro</div>
        <div class="card-body">
            <form action="/save_artista" method="post">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombres Completos: </label>
                    <input type="text" class="form-control" id="nombre" name="nombre">
                </div>
                <div class="mb-3">
                    <label for="genero_artistico" class="form-label">Género Artístico: </label>
                    <input type="text" class="form-control" id="genero_artistico" name="genero_artistico">
                </div>
                <div class="mb-3">
                    <label for="telefono" class="form-label">Telefono: </label>
                    <input type="int" class="form-control" id="telefono" name="telefono">
                </div>
                <div class="mb-3">
                    <label for="ciudad" class="form-label">Ciudad: </label>
                    <input type="enum" class="form-control" id="ciudad" name="ciudad">
                </div>
                <br>
                <!-- <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="/admin" class="btn btn-danger">Cancelar</a> -->
                <button type="submit" class="btn btn-primary"
                    style="background-color: #2e8eee; border-color: #2e8eee;"
                        onmouseover="this.style.backgroundColor='#b463b3'; this.style.borderColor='#b463b3';"
                        onmouseout="this.style.backgroundColor='#2e8eee'; this.style.borderColor='#2e8eee';">
                        Guardar
                </button>
                    <a href="/admin" class="btn btn-danger" 
                        style="background-color: #2e8eee; border-color: #2e8eee;"
                        onmouseover="this.style.backgroundColor='#b463b3'; this.style.borderColor='#b463b3';"
                        onmouseout="this.style.backgroundColor='#2e8eee'; this.style.borderColor='#2e8eee';">
                        Cancelar
                    </a>    
            </form>

        </div>
    </div>
</div>
<%- include('partials/footer') %>